// 默认font-size: 16px;team-banner
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    --main-bg-color: #fafbfe; // 内容背景颜色
    --footer-bg-color: #f5f7fe; // footer背景颜色
    --main-shadow: #ebeef5; // 主页阴影颜色
    --dashboard-link-bg-hover: #37c8cb; // dashboard子链接hover背景颜色
    --mark-color: #37c8cb; // 标记印记颜色
    --quick-bg-hover: #d2f1f8; // 快捷方式子链接hover背景颜色
    --banner-title-color: #132b50; // banner标题文字颜色
    --description-color: #7d8aaa; // 描述文字颜色
    --link-color: #3eaf7c; // <a>标签连接颜色
    // --code-color: #476582; // 代码颜色
    // --code-bg-color: #282c34; // 代码块背景颜色
    // --text-color: #2c3e50; // 文本颜色
    // --border-color: #eaecef; // 边框颜色
    // --danger-color: #e71919; // danger背景颜色
    // --warn-bg-color: rgba(255, 229, 100, .7); // warn背景颜色
    // --toast-bg-color: hsla(0,0%,7%,.7); // warn背景颜色

    font-size: 16px;
}
ul, li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
    
    .style-switch-label{
        font-size: 14px;
    }
}
@for $i from 1 through 5 {
    .flex-#{$i} {
        flex: $i;
    }
}
.text-decoration-none {
    text-decoration: none;
}
.border-none {
    border: none;
}
.display-none {
    display: none;
}
.description-color {
    color: var(--description-color);
    font-weight: 700;
}
.error-color {
    color: red;
}
.success-color {
    color: green;
}

@media screen and (min-width: 1200px) {
    .banner-title-size {
        font-size: 2.25rem;
    }
    .banner-des-size {
        font-size: 1.5rem;
    }
    .section-title-size {
      font-size: 2rem;
    }
    .section-des-size {
      font-size: 1.25rem;
    }
    .section-item-title-size {
        font-size: 1.5rem;
    }
    .section-item-des-size {
        font-size: 1rem;
    }
}
@media screen and (max-width: 1200px) {
    .banner-title-size {
        font-size: 2rem;
    }
    .banner-des-size {
        font-size: 1.33rem;
    }
    .section-title-size {
      font-size: 1.78rem;
    }
    .section-des-size {
      font-size: 1.11rem;
    }
    .section-item-title-size {
        font-size: 1.33rem;
    }
    .section-item-des-size {
        font-size: 0.89rem;
    }
}
@media screen and (max-width: 768px) {
    .banner-title-size {
        font-size: 1.88rem;
    }
    .banner-des-size {
        font-size: 1.25rem;
    }
    .section-title-size {
      font-size: 1.67rem;
    }
    .section-des-size {
      font-size: 1.04rem;
    }
    .section-item-title-size {
        font-size: 1.25rem;
    }
    .section-item-des-size {
        font-size: 0.83rem;
    }
}
@media screen and (max-width: 468px) {
    .banner-title-size {
        font-size: 1.5rem;
    }
    .banner-des-size {
        font-size: 1rem;
    }
    .section-title-size {
      font-size: 1.33rem;
    }
    .section-des-size {
      font-size: 0.83rem;
    }
    .section-item-title-size {
        font-size: 1rem;
    }
    .section-item-des-size {
        font-size: 0.67rem;
    }
}