pre[class*="language-"] code {
    color:#000 !important;
}
pre[class*="language-"] code .keyword{
   color:#a626a4 !important; 
}
pre[class*="language-"] code .string{
   color:#50a14f !important; 
}
pre[class*="language-"] code .function{
   color:#4078f2 !important; 
}
pre[class*="language-"] code .punctuation{
   color:#383a42 !important; 
}
pre[class*="language-"] code .class-name{
   color:#b76b01 !important; 
}
pre[class*="language-"] code .operator{
   color:#000 !important; 
}
pre[class*="language-"] code .variable{
   color:#50a14f  !important; 
}

.footer-wrapper.footer span:first-child{
   display:none !important; 
}

.page-title {
    display:none !important; 
}


