$nprogressColor = #4ea9ec
$accentColor = #4ea9ec      //主题颜色
//$codeBgColor =#f6f8fa      // aui代码块背景色    
$codeBgColor =#ecf4fa

//搜索框颜色
//$accentColor = #f6f8fa
//$textColor = #f6f8fa
//$borderColor = #f6f8fa
//$codeBgColor = #f6f8fa
//$arrowBgColor = #ccc